{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<h1>Register</h1>
<form action="{% url 'register' %}" method="post">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <br><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br><br>
    <!-- Add more registration form fields here if needed -->
    <input type="submit" value="Register">
</form>
{% endblock %}
